<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Capital City Quiz</title>
   <link rel="icon" href="styles/images/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="styles/main.css">
</head>

<body id="app">

   <form class="container" action="/submit" method="post">
      <div class="horizontal-container">
         <h4>
            Total Score:
            <span id="score">
               <%= locals.totalScore ? totalScore : "0" %>
            </span>
         </h4>
      </div>

      <h1 id="countryName">
         <%= question.country %>
      </h1>

      <div class="answer-container">
         <input type="text" name="answer" id="userInput" placeholder="Enter the Capital" autofocus autocomplete="off" required>
      </div>

      <button id="butt" type="submit">SUBMIT</button>
   </form>

   <script>
      let wasCorrect = "<%= locals.wasCorrect %>";
      let score = "<%= locals.totalScore %>";
      if (wasCorrect === 'false') {
         alert('Game over! Final Score: <%= locals.totalScore %>');
         document.getElementById("app").innerHTML = '<a href="/" class="restart-button">Restart</a>'
      } else if (score) {
         document.getElementById("butt").innerText = 'CORRECT ✔';
         setTimeout(function() {
            document.getElementById("butt").innerText = 'SUBMIT'
         }, 1500);
      }
   </script>
</body>
</html>