<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Weather Prognosticator</title>
   <!-- Link Favicon -->
   <link rel="icon" href="/images/logos/favicon.ico" type="image/x-icon" />
   <!-- styles -->
    <link rel="stylesheet" href="styles/local.css">
</head>


<body>
   <section class="mainCard">
      <div class="heading">
         <h4>Dinkle Weatherby's</h4>
         <p><img class="dinkle" src="images/dinkleWeatherby.png" alt="" width="150px"></p>
         <h5>Weather Prognosticator</h5>
      </div><hr>
      <div class="searchBox">
         <form action="/" method="post">
            <p><input type="text" name="location" id="location" placeholder="City Name or Zip Code" required>&nbsp;&nbsp;
            <button id="searchButton">Search</button></p>
         </form>
         <% if (!locals.content) { %>
            <p class="error">Location Not Found</p>
         <% } else { %>
               <% const weather = JSON.parse(content) %>
               <% if (weather.error) { %>
                  <p class="error"><%= weather.error %></p>
               <% } else { %>
      </div><hr>

      <div class="row1">
         <div class="r1c1">
            <img class="weatherImage" src="<%= weather.icon %>">
            <b><%= weather.today %></b>
         </div>
         <div class="r1c2">
            <p>&nbsp;</p>
            <p class="city"><%= weather.city %>, <%= weather.state %></p>
            <p>Current Temp: <b><%= weather.currTemp %>° F</b></p>
            <p>Feels Like: <b><%= weather.feelsLike %>° F</b></p>
         </div>
      </div>

       <div class="row2">
          <p class="forecast"><%= weather.todaysForecast %>.</p>
      </div><hr>

      <div class="row3">
          <p><img src="images/icons/high.svg" alt="">
            Todays High: <b><%= weather.highTemp %></b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/icons/low.svg" alt="">
            Tonights Low: <b><%= weather.lowTemp %></b>
          </p>
          <p>Dew Point: <b><%= weather.dewPoint %></b></p>
          <p>Barometric Pressure: <b><%= weather.baro %></b> inHg</p>
          <p>Winds :
            <b><%= weather.windDirect %> @
            <%= weather.windSpeed %></b>
            <% if (weather.gusts) { %>
               with Gusts to <b><%= weather.gusts %></b>
               <img src="images/icons/wind.svg" alt="">
            <% } %>
          </p>
          <p><img src="images/icons/sunrise.svg" alt="">
            Sunrise: <b><%= weather.sunrise %></b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/icons/sunset.svg" alt="">
            Sunset: <b><%= weather.sunset %></b></p>
       </div>

       <div class="row4">

       </div>

         <% } %>
      <% } %>
   </section>

   <section>
      <span class="gratuity">Dinkle's Image by:
         <a href="" target="_blank">pending</a>
      </span>
      <span class="gratuity">Background Image by
         <a href="https://pixabay.com/users/gdmoonkiller-4679220/" target="_blank">gdmoonkiller</a> @
         <a href="https://pixabay.com/photos/lightning-storm-sky-cloud-mountain-7401119/" target="_blank">Pixabay</a>
      </span>
      <span class="gratuity">Weather Icons by:
         <a href="https://bas.dev/work/meteocons" target="_blank">Meteocons</a></span>
   </section>

</body>
</html>