<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Weather Prognosticator</title>
   <!-- Link Favicon -->
   <link rel="icon" href="/images/logos/favicon.ico" type="image/x-icon" />
   <!-- styles -->
    <link rel="stylesheet" href="styles/local.css">
</head>


<body>
   <section class="mainCard">
      <div class="heading">
         <h1>Dinkle Weatherby's</h1>
         <p><img src="images/dinkleWeatherby.png" alt="" width="150px"></p>
         <h2>Weather Prognosticator</h2>
      </div><hr>

      <div class="searchBox">
         <form action="/" method="post">
            <p><input type="text" name="location" id="location" placeholder="City Name or Zip Code" required>&nbsp;&nbsp;
            <button id="searchButton">Search</button></p>
         </form>
      </div><hr>

      <div class="weatherDisplay">
         <% if (!locals.content) { %>
            <p>Local Weather:</p>
         <% } else { %>
            <% const weather = JSON.parse(content) %>
            <% if (weather.error) { %>
               <p class="error"><%= weather.error %></p>
            <% } else { %>
               <p><b><%= weather.city %>, <%= weather.state %></b></p>
               <p>Current Temp: <%= weather.currTemp %>° F</p>
               <p>Feels Like: <%= weather.feelsLike %>° F</p>
               <p>Low: <%= weather.lowTemp %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High: <%= weather.highTemp %></p>
               <p>Winds <%= weather.windDirect %> @
                  <%= weather.windSpeed %>,
                  Gusts to <%= weather.gusts %>
               </p>
               <p><img src="<%= weather.icon %>" alt="" width="100"></p>
               <p>Barometric Pressure: <%= weather.baro %> inHg</p>
            <% } %>
         <% } %>
      </div>
   </section>




   <hr>


   <section class="resources">
      <h3>Resources</h3><br>
      <ul>
         <li><a href="https://www.joshwcomeau.com/css/interactive-guide-to-grid/" target="_blank">Grids Explained</a></li>
         <li style="list-style: none;">&nbsp;</li>
         <li><a href="https://bas.dev/work/meteocons" target="_blank">Meteocons</a></li>
         <li style="list-style: none;">&nbsp;</li>
         <li style="list-style: none;">Open Weather</li>
         <li><a href="https://openweathermap.org/api/geocoding-api" target="_blank">Open Weather geoLocate</a></li>
         <li><a href="https://openweathermap.org/api/one-call-3" target="_blank">Open Weather API</a></li>
         <li><a href="https://openweathermap.org/weather-conditions" target="_blank">Open Weather Icon Codes</a></li>
         <li style="list-style: none;">&nbsp;</li>
         <li style="list-style: none;">Open-Meteo</li>
         <li><a href="https://search.brave.com/videos?q=how+to+build+Open-Meteo+weather+app&source=web" target="_blank">Search Page | how to build Open-Meteo weather app</a></li>
         <li><a href="https://open-meteo.com/en/docs#api_documentation" target="_blank">Open-Meteo Weather API Documentation</a></li>
         <li><a href="https://www.youtube.com/watch?v=HS7GfTuJgA8" target="_blank">Video | Weather App with JavaScript & Open Meteo API | Full Guide</a></li>
      </ul>
   </section><hr>



</body>
</html>