<!DOCTYPE html>
<html lang="en" id="top">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reddit Not Found</title>

   <!-- link to static assets directory -->
   <%- include('includes/headBootstrap') %>
   <%- include('includes/headLocalStyles') %>
</head>

<body>
   <%- include('includes/header') %>

   <section id="main">
      <div>
         <%- include('includes/navBar') %>

         <!-- Body Content -->
         <P>&nbsp;</P>
         <h6>We're sorry, but the <span class="subReddit"><%= subreddit %></span> subreddit was not found.</h6>
         <P>&nbsp;</P>
         <P>&nbsp;</P>
         <P>&nbsp;</P>
         <P>&nbsp;</P>
         <P>&nbsp;</P>
      </div>
   </section>
   <a href="#top"><< TOP >></a>
   <p>&nbsp;</p>

   <%- include('includes/footer') %>
</body>
</html>