<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Express subReddits Demo</title>

   <!-- link to static assets directory -->
   <%- include('includes/headBootstrap') %>
   <%- include('includes/headLocalStyles') %>
</head>

<body>
   <!-- Bootstrap Navbar -->
   <%- include('includes/navBar') %>

   <!-- Reddit Info -->
   <container>
      <div>
         <h1>subReddits Demo</h1>
         <h2 class="redditName"><%= name %></h2>
         <p class="desc"><%= description  %></p>
         <p class="subTitle">Total Subscribers:&nbsp;&nbsp;&nbsp;<b><span class="subs"><%= subscribers %></b></span></p>
      </div>

      <!-- Reddit Posts -->
      <div>
         <% for ( post of posts ) { %>
            <hr><p>&nbsp;</p>
            <p><span class="author"><%= post.author %>:</span>&nbsp;&nbsp;&nbsp;<span class="title"><%= post.title %></span></p><br>
            <p>
               <% if (post.img) { %>
                  <img src="<%= post.img %>" alt="<%= post.title %>">
               <% } else { %>
                  <b>No Image Available</b>
               <% } %>
            </p><br>
         <% } %>
      </div>
   </container>
</body>
</html>