<!DOCTYPE html>
<html>

<head>
  <title>API Manipulation</title>
  <link rel="stylesheet" href="styles/local.css">
</head>

<body>
   <div class="container">

      <div class="response-area">
         <% if ( !locals.content ) { %>
            <p>To view an existing Secret: Enter the ID# (1 - 50): and submit a GET request.</p>
            <p>To add a new Secret: enter the New Secret & emScore: send a POST Request.</p>
            <p>To edit a Secret: enter ID# (1 - 50): enter new data: send a PUT/PATCH Request.</p>
            <p>To delete a Secret, enter ID# (1 - 50): send a DELETE Request.</p>
         <% } else { %>
            <% const data = JSON.parse(content); %>
            <p>Secret #: <%= data.id %></p>
            <p><%= data.secret %></p>
            <p>emScore: <%= data.emScore %></p>
            <p>Posted by: <%= data.username %></p>
            <p>Posted on <%= data.timestamp %></p>
         <% } %>
      </div>

      <form id="myForm" method="post">
         <label for="idInput">Id:</label>
         <input type="text" id="idInput" name="id">

         <label for="secretInput">Secret:</label>
         <input type="text" id="secretInput" name="secret">

         <label for="scoreInput">Score:</label>
         <input type="number" id="scoreInput" name="score">

         <label id="route" for="submit">Route:</label>
         <div id="buttons">
            <input id="get" type="submit" value="GET" formaction="/get-secret">
            <input id="post" type="submit" value="POST" formaction="/post-secret">
            <input id="put" type="submit" value="PUT" formaction="/put-secret">
            <input id="patch" type="submit" value="PATCH" formaction="/patch-secret">
            <input id="delete" type="submit" value="DELETE" formaction="/delete-secret">
         </div>
      </form>

   </div>

</body>
</html>