<!DOCTYPE html>
<html lang="en" id="top">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Our Pets</title>

   <!-- link to static assets directory -->
   <%- include('includes/headBootstrap') %>
   <%- include('includes/headLocalStyles') %>
</head>

<body>
   <%- include('includes/header') %>

   <section id="main">
      <div>
         <%- include('includes/navBar') %>

         <!-- Pets Demo -->
         <h1>express Demo</h1>
         <p>&nbsp;</p>
         <h5>These are Our Pets</h5>
         <hr>
         <% for ( pet of pets ) { %>
            <p><%= pet %></p>
         <% } %>
         <p>&nbsp;</p>
      </div>
   </section>
   <a href="#top"><< TOP >></a>
   <p>&nbsp;</p>

   <%- include('includes/footer') %>
</body>
</html>