<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Express subReddits Demo</title>

   <!-- link to static assets directory -->
   <link rel="stylesheet" href="/css/root.css">
   <link rel="stylesheet" href="/css/localStyles.css">
</head>

<body>
   <!-- Instructions -->
   <div>
      <h1>My Reddits</h1>
      <p>To display a Reddit:</p>
      <p>in the address bar : type <b>http://localhost:3000/r/</b><br>
         followed by one of your three choices:</p>
      <p><a href="http://localhost:3000/r/soccer">Soccer</a><br>
         <a href="http://localhost:3000/r/chickens">Chickens</a><br>
         <a href="http://localhost:3000/r/harvest">Harvest</a></p>
   </div><hr>

   <!-- Reddit Info -->
   <div>
      <h4><%= name %></h4>
      <p class="desc"><%= description  %></p>
      <p>Total Subscribers:&nbsp;&nbsp;&nbsp;<b><span class="subs"><%= subscribers %></b></span></p>
   </div>

   <!-- Reddit Posts -->
   <div>
      <% for ( post of posts ) { %>
         <hr><p>&nbsp;</p>
         <p><span class="author"><%= post.author %>:</span>&nbsp;&nbsp;&nbsp;<span><%= post.title %></span></p><br>
         <p>
            <% if (post.img) { %>
               <img src="<%= post.img %>" alt="<%= post.title %>">
            <% } else { %>
               <b>No Image Available</b>
            <% } %>
         </p><br>
      <% } %>
   </div>
</body>
</html>