<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>The Books Project</title>
   <!-- Link Favicon -->
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

   <!-- link stylesheet -->
   <link rel="stylesheet" href="styles/main.css">
</head>

<body class="gradient-background">

   <h1>The Book Project</h1>

   <div>
      <p>Search for a book to add to our DataBase.</p>
      <form action="/" method="post">
         <label for="bookSearch">Book Name: </label>
         <input type="text" id="bookSearch" name="bookTitle">
         <button>Submit</button>
      </form>
   </div>

   <div class="container">
      <% if (bookdata.length) { %>
         <% bookdata.forEach((book) => { %>
            <div class="card">
               <div class="bookCover" style="background-image: url('<%= book.cover %>');"></div>
               <div class="bookText"><%= book.descr %></div>
               <div class="bookDetails">
                  <div class="bookTitle">
                     <a href="<%= book.webaddress %>" target="_blank"><%= book.title %></a>
                  </div>

                  <p><%= book.author %></p>
                  <p>First Published: <%= book.published %></p>
                  <div class="rating">
                     <div>D</div>
                     <div>
                        <% for (i=1; i<=bookdata.stars; i++) {%>
                           <img src="../images/starFull.png" alt="rating" width="26">
                        <% } %>
                        <% if (bookdata.halfstars > 0.0) { %>
                           <img src="../images/starHalf.png" alt="rating" width="26">
                        <%  } %>
                     </div>
                     <div>E</div>
                  </div>
                  <div><%= book.rating %></div>
               </div>
            </div>
         <% }) %>
      <% } %>
   </div>

</body>
</html>