<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>The Books Project</title>
   <!-- Link Favicon -->
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

   <!-- link stylesheet -->
   <link rel="stylesheet" href="styles/main.css">
</head>

<body class="gradient-background">
   <div class="header"><h1>The&nbsp;&nbsp;&nbsp;Book&nbsp;&nbsp;&nbsp; Project</h1></div>

   <div class="intro">
      <p>This project was a class assignment requiring us to create an API, to pull some book data from the records at <a href="https://openlibrary.org/" target="_blank">Open Library</a>. This was supposed to be a list of books the we have read, but I haven't been a "reader" for probably 40 years or more. So instead of books I have read, I just pulled some random books into my database.</p>
      <p>The requirements for this project are:
         <ol>
            <li>Use an API to retrieve data about a book from Open Library.</li>
            <li>Store that data in a Database the we have to create.</li>
            <li>Pull the data from the database to create a functional output which is presented here.</li>
            <li>Maintain full CRUD functionality:
               <ul>
                  <li><b>C</b>reate</li>
                  <li><b>R</b>ead</li>
                  <li><b>U</b>pdate</li>
                  <li><b>D</b>elete</li>
               </ul>
            </li>
         </ol>
      </p>
      <p>In the end, I found that I needed to run 3 API's to retrieve all of the data I wanted to display. And the end result, simply enter a book title and the AI will fetch the relevant data and store it in the database. It then retrieves all of the data, formats it, and outputs the results for display. </p>
   </div><hr>

   <div>
      <% if (locals.error) { %>
         <p class="error">Error: Book Not Found</p>
      <% } else { %>
         <p>Search for a book to add to our DataBase.</p>
      <% } %>
      <form action="/" method="post">
         <input class="bookSearch" type="text" id="bookSearch" name="bookTitle" placeholder="Book Title" required>
         <button class="searchButton">Submit</button>
      </form>
      <br>
   </div><hr>

   <div class="container">
      <% if (bookdata.length) { %>
         <% bookdata.forEach((book) => { %>
            <div class="card">
               <div class="bookCover" style="background-image: url('<%= book.cover %>')"></div>
               <div class="bookText"><%= book.descr %></div>
               <div class="bookDetails">
                  <div class="bookTitle">
                     <a href="<%= book.webaddress %>" target="_blank"><%= book.title %></a>
                  </div>
                  <p><%= book.author %></p>
                  <p>First Published: <%= book.published %></p>
                  <div class="rating">
                     <% let stars = Math.trunc(book.rating) %>
                     <% let halfstars = book.rating - stars %>
                     <div class="delete">
                        <form action="/delete" method="post">
                           <input type="hidden" name="id" value="<%= book.id %>">
                           <button type="submit">
                              <img src="../images/trash.png" alt="delete" width="20px">
                           </button>
                        </form>
                     </div>
                     <div class="rateDisp">
                        <div class="rateStars">
                           <% for (i=1; i<=stars; i++) {%>
                              <img src="../images/starFull.png" alt="rating" width="22">
                           <% } %>
                           <% if (halfstars > 0) { %>
                              <img src="../images/starHalf.png" alt="rating" width="22">
                           <%  } %>
                        </div>
                        <div class="rateNums">
                           <%= book.rating %>
                        </div>
                     </div>
                     <div class="edit">
                        <form action="/edit" method="post">
                           <input type="hidden" name="id" value="<%= book.id %>">
                           <button type="submit">
                              <img src="../images/pencil.png" alt="edit" width="20px">
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         <% }) %>
      <% } else { %>
         <h3>No Books In Database</h3>
      <% } %>
   </div>


   <%- include('footer') %>